#frame {
  --tabsSize: 2em;
  --mainSize: calc(100vh - var(--tabsSize));
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  #tabs {
    height: var(--tabsSize);
    text-align: center;
  }

  #main {
    height: var(--mainSize);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}