#home {
  position: relative;
  display: flex;
  flex-direction: column;

  h1 {
    width: 100%;
    text-align: center;
  }
  
  span {
    margin-top: 1em;
    margin-right: 0.5em;
  }

  button {
    margin-top: 1em;
    width: 100%;
  }
}